<article id="intro-samsung" class="intro-mobile column one-half content section text-center show-on-samsung">
  <header>
    <img
      height="140px"
      src="/img/samsung-internet-logo.png"
      alt="{{ samsung-logo-alt[alt text] Samsung Internet logo }}">
    <h1>{{ intro-samsung-heading[heading] <span>Block ads with</span> <span>Adblock Plus for Samsung Internet</span> }}</h1>
    <p class="subheading">{{ intro-samsung-item-1[list item] <span>Designed specifically</span> <span>for <strong>Samsung Internet</strong></span>}}</p>
  </header>
  <ul class="unstyled">
    <li>{{ intro-samsung-item-2[list item] Block annoying ads }}</li>
    <li>{{ intro-samsung-item-3[list item] Block tracking }}</li>
    <li>{{ intro-samsung-item-4[list item] Avoid malware }}</li>
  </ul>
  <div>
    <? include install-button-samsung ?>
  </div>
  <div>
    <a href="download">{{ view-ab-products-label[link] View all our ad blocking products }}</a>
  </div>
</article>
