title=Modules

<head>
<style type="text/css">
  table
  {
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table:first-child
  {
    margin-top: 0;
  }

  th, td
  {
    border: 1px solid black;
    padding: 5px;
  }

  th
  {
    text-align: right;
  }
</style>
</head>
<p>
  {{modules-description Adblock Plus and all related projects are governed by a <a href="module-ownership">module ownership system</a>. Below is a list of all the modules we currently have.}}
</p>

<table id="core">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Core</td>
  </tr>
  <tr>
    <th>{{table-header-owners Owner(s)}}</th>
    <td><a href="mailto:manish@adblockplus.org">Manish Jethani</a></td>
  </tr>
  <tr>
    <th rowspan="2">{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:sergei@adblockplus.org">Sergei Zabolotskikh</a></td>
  </tr>
  <tr>
    <td><a href="mailto:dave@adblockplus.org">Dave Barker</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          {{module-core-source <a href="https://hg.adblockplus.org/adblockpluscore"><fix>adblockpluscore</fix></a> (except <a href="#automation"><fix>Automation</fix></a>)}}
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="user-interface">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>User Interface</td>
  </tr>
  <tr>
    <th>{{table-header-description Description}}</th>
    <td>{{module-ui-description The User Interface of the Adblock Plus browser extension.}}</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:thomas@adblockplus.org">Thomas Greiner</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:manvel@adblockplus.org">Manvel Saroyan</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockplusui">adblockplusui</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/adblockpluschrome">adblockpluschrome</a>
          <ul>
            <li>block.html</li>
            <li>block.js</li>
            <li>options.html</li>
            <li>options.js</li>
            <li>popup.html</li>
            <li>popup.js</li>
            <li>/skin</li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="platform">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Platform</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:sebastian@adblockplus.org">Sebastian Noack</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:dave@adblockplus.org">Dave Barker</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          {{module-platform-source <a href="https://hg.adblockplus.org/adblockpluschrome"><fix>adblockpluschrome</fix></a> (except <a href="#user-interface"><fix>User Interface</fix></a> and <a href="#automation"><fix>Automation</fix></a>)}}
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="automation">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Automation</td>
  </tr>
  <tr>
    <th>{{table-header-description Description}}</th>
    <td>{{module-automation-description The build and release automation for the Adblock Plus browser extension, and some general coding tools.}}</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:sebastian@adblockplus.org">Sebastian Noack</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:tristan@adblockplus.org">Tristan Lucas</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/buildtools">buildtools</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/codingtools">codingtools</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/abpssembly">abpssembly</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/adblockpluschrome">adblockpluschrome</a>
          <ul>
            <li>test/*</li>
          </ul>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/adblockpluscore">adblockpluscore</a>
          <ul>
            <li>test/runners/*</li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-android">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for Android</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:rene@adblockplus.org">René Jeschke</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/actionbarsherlock">actionbarsherlock</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/adblockplusandroid">adblockplusandroid</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/android-switch-backport">android-switch-backport</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-internet-explorer">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for Internet Explorer</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:oleksandr@adblockplus.org">Oleksandr Paraska</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockplusie">adblockplusie</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="libadblockplus">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Libadblockplus</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:sergei@adblockplus.org">Sergei Zabolotskikh</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/googletest">googletest</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/gyp">gyp</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/libadblockplus">libadblockplus</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/libadblockplus-binaries">libadblockplus-binaries</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/v8">v8</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/v8-googlesource">v8-googlesource</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/chromium-deps-icu">chromium-deps-icu</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/chromium-src-base-trace_event-common">chromium-src-base-trace_event-common</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/chromium-src-build">chromium-src-build</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/chromium-src-tools-clang">chromium-src-tools-clang</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="libadblockplus-android">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Android JNI bindings for libadblockplus</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:rene@adblockplus.org">René Jeschke</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/libadblockplus-android">libadblockplus-android</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-browser-for-android">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Browser for Android</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:rene@adblockplus.org">René Jeschke</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockbrowser">adblockbrowser</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/adblockbrowser-build">adblockbrowser-build</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/mozharness">mozharness</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-samsung-browser">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for Samsung Browser</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:rene@adblockplus.org">René Jeschke</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockplussbrowser">adblockplussbrowser</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-ios">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for iOS/macOS</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:d.zhang@adblockplus.org">Daniel Zhang</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockplussafariios">adblockplussafariios</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/abp2blocklist">abp2blocklist</a>
        </li>
        <li>
          <a href="https://github.com/adblockplus/yajl-dynamic">yajl-dynamic</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="infrastructure">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Infrastructure</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:mathias@adblockplus.org">Mathias Hennig</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/discourse">discourse</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/downloads">downloads</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure">infrastructure</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppet-concat">infrastructure-puppet-concat</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppet-postgresql">infrastructure-puppet-postgresql</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppet-spawn-fcgi">infrastructure-puppet-spawn-fcgi</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-apt">infrastructure-puppetlabs-apt</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-firewall">infrastructure-puppetlabs-firewall</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-mysql">infrastructure-puppetlabs-mysql</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-stdlib">infrastructure-puppetlabs-stdlib</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/contentblockerlists">contentblockerlists</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="sitescripts">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Sitescripts</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:vasily@adblockplus.org">Vasily Kuznetsov</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/abpbot">abpbot</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/cms">cms</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/python-abp">python-abp</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/sitescripts">sitescripts</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="websites">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Websites</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:julian@adblockplus.org">Julian Doucette</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:manvel@adblockplus.org">Manvel Saroyan</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/web.eyeo.com">web.eyeo.com</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/web.adblockplus.org">web.adblockplus.org</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/web.adblockbrowser.org">web.adblockbrowser.org</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/web.acceptableads.com">web.acceptableads.com</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/share.adblockplus.org">share.adblockplus.org</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/facebook.adblockplus.me">facebook.adblockplus.me</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/youtube.adblockplus.me">youtube.adblockplus.me</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="url-fixer">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>URL Fixer</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:thomas@adblockplus.org">Thomas Greiner</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/urlfixer">urlfixer</a>
        </li>
      </ul>
    </td>
  </tr>
</table>
